django==2.2.5
dnspython
pyodbc
pandas
djangorestframework
django-cors-headers
celery==4.4.7
google-auth-oauthlib
syllables
google-api-python-client
redis==2.10.5
Flask-SQLAlchemy
pymysql
eldar==0.0.7
unidecode
fuzzywuzzy
